<html>
    <body>
        <form method="post" action="/student/add">
            Name : <input type="text" name="name"><br>
            Email : <input type="text" name="email"><br>
            Password : <input type="password" name="password"><br>
            Roll no. : <input type="text" name="rno"><br>
            Semester : <input type="text" name="sem"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>