<html>
    <body>
        <h1>Images</h1>
        <a href="/files/add">Add New</a>
        <% if(Array.isArray(image)) { %>
            <% image.forEach(function(image) { %>
                <img src="../<%= image.filename%>" width="200">
            <% }); %>    
        <% } else { %>
            <img src="../<%= image%>" width="200">
        <% } %>
    </body>
</html>